@inject IJSRuntime JS
@inject GlobalService GlobalService
@implements IDisposable

<nav class="sticky-top navbar navbar-expand-md bg-danger shadow-sm border-bottom border-white">
    <div class="container">
        <a class="navbar-brand text-light" href="#">Pizza Place</a>
        <div class="d-md-none ml-auto-icon">
            <div class="nav-icon-wrap">
                <i class="fa-solid fa-user text-white nav-icon"></i>
            </div>
            <div class="nav-icon-wrap">
                <i class="fa-solid fa-cart-shopping text-white nav-icon"></i>
            </div>
        </div>
        <button class="navbar-toggler bg-white show" @onclick="ToggleMenu" type="button">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav" style="margin-left: auto;">
                <li class="nav-item">
                    <NavLink class="nav-link active" aria-current="page" href="#">Home</NavLink>
                </li>
                <li class="nav-item">
                    <NavLink class="nav-link" href="#">Menu</NavLink>
                </li>
                <li class="nav-item">
                    <NavLink class="nav-link" href="#">About Us</NavLink>
                </li>
            </ul>
        </div>
        <div class="d-none d-md-block">
            <div class="nav-icon-wrap ico">
                <i class="fa-solid fa-user text-white nav-icon"></i>
            </div>
            <div class="nav-icon-wrap">
                <i class="fa-solid fa-cart-shopping text-white nav-icon"></i>
            </div>
        </div>
    </div>
</nav>

@code{
    public bool NavOpen { get; private set; } = false;

    public event Action<bool>? OnNavToggleClick;

    protected override void OnInitialized()
    {
        OnNavToggleClick += GlobalService.SetNavState;
    }


    private async Task ToggleMenu()
    {
        NavOpen = !NavOpen;
        OnNavToggleClick?.Invoke(NavOpen);
        await JS.InvokeVoidAsync("toggleNav", NavOpen);
    }

    public void Dispose()
    {
        OnNavToggleClick -= GlobalService.SetNavState;
    }


}