@using Blazored.Toast.Configuration
@inherits LayoutComponentBase
@inject NavMenuService NavMenuService

<TopBar/>
<PageTitle>Managment</PageTitle>

<BlazoredToasts Position="ToastPosition.BottomRight"
                Timeout="4"
                IconType="IconType.FontAwesome"
                SuccessClass="success-toast-override"
                SuccessIcon="fa fa-thumbs-up"
                ErrorIcon="fa fa-bug" />

<LeftSidebar OnHover="SidebarHover" />
<div class="body-wrap-frame @(sidebarMouseHovering?"active":"")">
    <div class="body-wrap">
         @Body
    </div>
</div>

@code {
    bool sidebarMouseHovering = false;

    void SidebarHover(bool state) => 
        sidebarMouseHovering = state;
}
