@using Blazored.Toast.Configuration
@inherits LayoutComponentBase
@inject NavMenuService NavMenuService

<TopBar/>
<PageTitle>Managment</PageTitle>
<LeftSidebar OnHover="SidebarHover" />
<div class="body-wrap-frame @(sidebarMouseHovering?"active":"")">
    <div class="body-wrap">
<h1>@sidebarMouseHovering</h1>
         @Body
    </div>
</div>

@code {
    bool sidebarMouseHovering = false;

    void SidebarHover(bool state) => 
        sidebarMouseHovering = state;
}
