@using Blazored.Toast.Configuration
@inherits LayoutComponentBase
@inject NavigationService NavMenuService

<TopBar/>
<PageTitle>Managment</PageTitle>



<LeftSidebar OnHover="SidebarHover" />
<div class="body-wrap-frame @(sidebarMouseHovering?"active":"")">
    <div class="body-wrap">
         @Body
    </div>
</div>

@code {
    bool sidebarMouseHovering = false;

    void SidebarHover(bool state) => 
        sidebarMouseHovering = state;
}
