.bg-dark {
    background-color: #352F44;
}

.body-wrap-frame {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    /* background-color: rgb(196, 196, 196);*/
    padding-left: 48px;
    padding-top: 60px;
    transition: 0.4s all;
}

    


    .body-wrap {
        height: 100%;
        padding: 20px;
        overflow: auto;
        border: 1px solid white;
    }


.item-menu{
    white-space:nowrap;
}

.left-sidebar {
    position: absolute;
    left: 0;
    top: 0;
    width: 48px;
    z-index: 1;
    height: 100%;
    color: white;
    transition: 0.4s all;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

.bg-yellow {
    background-color:#ffff99 !important;
}


    .left-sidebar.active {
        width: 200px;
    }

    .sidebar-title-logo {
        display: flex;
        height: inherit;
        width: 200px;
        align-items: center;
        justify-content: center;
    }

.sidebar-title-logo h4{
    justify-self:center;
    padding:0;
    margin:0;
}

.topbar {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    z-index: 2;
    height: 60px;
    color: white;
    /* display:flex;
    justify-content:end;
    align-items:center;
    padding-right:20px;*/
}

.sidebar-nav-items {
    list-style: none;
    padding: unset;
    margin: unset;
    white-space: nowrap;
    overflow:hidden;
}

.sidebar-nav-item {
    height: 60px;
    cursor: pointer;
    height: 100%;
    display: block;
    padding: 15px;
    transition:0.25s all;
}

    .sidebar-nav-item.active {
        background-color: gray;
    }

    .sidebar-nav-item:hover {
        background-color: gray;
    }


.collapsed {
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.5s ease-in-out;
}

.expanded {
    max-height: auto; /* or any value greater than the content height */
    transition: max-height 0.5s ease-in-out;
}

.sidebar-nav-item i {
    margin-right: 14px;
    width:20px;
}

.price-cut{
    text-decoration:line-through;
    font-size:0.8rem;
    color:orange;
}

.btn-green {
    color: white;
    background-color: #1f4220;
}

.btn-white {
    background-color: white;
    color:black;
}

.btn-edit{
    border:none;
    background-color:inherit;
    border-radius:5px;
    background-color:green;
}



#table-header th {
    border-bottom: 3px solid black;
    background-color: rgb(60, 60, 60);
    color: white;
}
/* Style the table */
table {
    min-width: 1100px; /* Minimum width of the table */
    border-collapse: collapse;
    width:100%;
}

/* Style table headers (optional) */
th {
    background-color: #f5f5f5;
    border: 1px solid #ddd;
    padding:0px 10px;
    height:60px;
}

/* Style table data cells (optional) */
td {
    border: 1px solid #ddd;
    padding: 8px;
}

tr:hover {
    background-color: rgb(250, 254, 205) !important;
    /* color:white !important;*/
}

.bg-light-red {
    background-color: rgba(189, 0, 0, 0.3);
}

    /* Set the width of each column by percentage */
    th:nth-child(1), td:nth-child(1) {
        width: 20%;
    }

    th:nth-child(2), td:nth-child(2) {
        width: 5%;
    }

    th:nth-child(3), td:nth-child(3) {
        width: 5%;
    }

    th:nth-child(4), td:nth-child(4) {
    }
    th:nth-child(5), td:nth-child(5) {
        width: 150px !important;
    }

.bg-gray{
    background-color:gray;
}

.bg-soft-gray {
    background-color: rgb(60, 60, 60);
}

.ingredients {
    font-size: 0.8rem;
    background-color: #70706f;
}

.top-table div{
    border-color:black !important;
}

.product-table{
    border-radius:0 5px 5px 5px;
    min-width:1150px;
}

.btn-option-select {
    border-radius: 5px 5px 0 0;
    cursor: pointer;
    border-bottom: 0;
    transition:0.5s all;
    width:200px;
    text-align:center
}

    .btn-option-select:hover {
        background-color:rgb(208, 137, 137);
    }


    @media (min-width: 991.98px) {
        .body-wrap-frame.active {
        padding-left: 200px;
    }

    .left-sidebar:hover {
        width: 200px;
    }

}
