.product-registration-modal{
    position:absolute;
    left:50%;
    top:50%;
    transform:translate(-50%,-50%);
    width:400px;
    background-color:white;
    z-index:5;
    border-radius:10px;
    padding:10px;

}

.form-control {
    border: 2px solid black;
}