.shopping-cart {
    position: fixed;
    width: 350px;
    height: 100%;
    background-color: white;
    right: -350px;
    top: 55px;
    z-index: 1000;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
    transition: all 0.5s;
}

    .shopping-cart.active {
        right: 0;
    }

@media(max-width:769px){
    .shopping-cart{
        right:-100vw;
        width:100vw;
    }

    .shopping-cart.active{
        right:0;
    }
}