@page
@model LoginModel


<style>

</style>
<div class="background"></div>
<div class="login-container">
    @{
        if (Model.Login == LoginModel.LoginState.AwaitingInput)
        {
            <div class="alert alert-success py-2">
                <h4 class="mb-0 pb-0">Login / Register</h4>
                <br />
                This login process is designed for your convenience.
                <br />
                Simply enter your email and if an account doesn't exist, one will be created and you'll be logged in automatically
            </div>


            <form id="account" method="post">
                <div asp-validation-summary="ModelOnly" class="text-danger" role="alert"></div>
                <div class="form-floating mb-3">
                    <input asp-for="Input.Email" class="form-control border-4 border-primary" autocomplete="username" aria-required="true" placeholder="name@example.com" />
                    <label asp-for="Input.Email" class="form-label">Email</label>
                    <span asp-validation-for="Input.Email" class="text-danger"></span>
                </div>
                <div>
                    <button id="login-submit" type="submit" class="w-100 btn btn-lg btn-primary">Next</button>
                </div>
            </form>
        }
        else if (Model.Login == LoginModel.LoginState.Success)
        {
            <!-- This div is for the loading state -->
            <div id="loading">
                <img class="mx-auto d-block text-center" src="~/images/pizzaloader.gif" alt="pizzaloader.gif">
                <h5 class="text-center">Validating User ...</h5>
            </div>

            <!-- This div is for the success state, and is hidden by default -->
            <div id="success" style="display: none;">
                <div class="alert alert-success" role="alert">
                    Success! Redirecting ...
                </div>
            </div>
        }
        else if (Model.Login == LoginModel.LoginState.Fail)
        {
            <p>Something went wrong</p>
        }
    }
</div>



@section Scripts {
    <partial name="_ValidationScriptsPartial" />
    <script>
        window.onload = function () {
            // Check if the current state is Success
            if ('@Model.Login' === 'Success') {
                // Get the loading and success elements
                const loading = document.getElementById('loading');
                const success = document.getElementById('success');

                // Set a timeout for 2 seconds (2000 milliseconds)
                setTimeout(function () {
                    // After 2 seconds, hide the loading element and show the success element
                    loading.style.display = 'none';
                    success.style.display = 'block';

                    // Set another timeout for 2 seconds to redirect to the index page
                    setTimeout(function () {
                        window.location.href = '/';
                    }, 2000);
                }, 2000);
            }
        };
    </script>
}
