<div class="footer pt-5 pb-3">
    <div class="container">
        @* <div class="row justify-content-center text-center">
        <h1>Pizza Place</h1>
        
        </div> *@
        <div class="row">
           
            <div class="col-12 col-lg-4">
                <div class="p-2">
                    <div class="footer-title">LINKS</div>
                    <ul class="footer-ul">
                        <li><a href="/">Home</a></li>
                        <li><a href="/menu">Menu</a></li>
                        <li><a href="/aboutus">About Us</a></li>
                    </ul>
                </div>
            </div>
            <div class="col-12 col-lg-4">
                <div class="p-2">
                    <div class="footer-title">STAY CONNECTED</div>
                    <ul class="footer-icons">
                        <li>
                            <i class="fa-brands fa-square-facebook text-white"></i>
                        </li>
                        <li>
                            <i class="fa-brands fa-x-twitter text-white"></i>
                        </li>
                        <li>
                            <i class="fa-brands fa-instagram text-white"></i>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="col-12 col-lg-4 d-flex">
                <div class="w-100 p-2">
                    <p class="footer-title">COMPANY NAME</p>
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
                </div>
            </div>
        </div>
        <div class="row footer-copyright-content">
            <p class="p-0"><small>
                Copyright © [@(DateTime.UtcNow.Year)] Marijan Mustac. All rights reserved.
                The design, layout, and functionality of this website are the property of Marijan Mustac and are protected under copyright law. No part of this website may be reproduced, duplicated, copied, sold, or otherwise exploited for any purpose without the express written consent of Marijan Mustac.
                </small>
            </p>
        </div>
    </div>
</div>

@code {

}
