@inject ShoppingCartService ShoppingCartService
@inject NavMenuService NavMenuService
@implements IDisposable


<div class="shopping-cart p-4 @(state?"active":"")">
    <h5>Order List : </h5>
</div>

@code {
    private bool state;

    

    protected override void OnInitialized()
    {
        state = NavMenuService.CartShow;

        NavMenuService.OnShoppingCartClicked += CartClicked;
        
    }

    void CartClicked(bool state)
    {
        this.state = state;
        StateHasChanged();
    }


    public void Dispose()
    {
        NavMenuService.OnShoppingCartClicked += CartClicked;
    }

}
