@inject ShoppingCartService ShoppingCartService
@inject NavMenuService NavMenuService
@implements IDisposable


<div class="shopping-cart p-4 @(NavMenuService.CartShow?"active":"")">
    <h5>Order List : </h5>
    <OrderList/>
</div>

@code {

    protected override void OnInitialized() =>
        NavMenuService.OnShoppingCartClicked += StateHasChanged;

    public void Dispose() =>
        NavMenuService.OnShoppingCartClicked -= StateHasChanged;
    

}
