@inject ShoppingCartService ShoppingCartService
@inject NavMenuService NavMenuService
@inject AccountService AccountService
@inject IToastService ToastService
@inject NavigationManager NavigationManager
@implements IDisposable


<div class="shopping-cart p-4 @(NavMenuService.CartShow?"active":"")" style="overflow:auto;">
    <h5>Order List : </h5>
    <OrderList ButtonText="Go to order page" OnButtonClick="@(()=>NavigationManager.NavigateTo("/order"))"/>
</div>

@code {

    protected override void OnInitialized()
    {
        NavMenuService.OnShoppingCartClicked += StateHasChanged;
        AccountService.OnLogoutAsync += CleanCart;
    }

    async Task CleanCart() => await ShoppingCartService.DeleteShoppingCartAsync();

    public void Dispose()
    {
    NavMenuService.OnShoppingCartClicked -= StateHasChanged;
        AccountService.OnLogoutAsync -= CleanCart;

    }
    

}
