<div class="topbar bg-dark border-bottom border-light d-flex justify-content-between">
    <div class="sidebar-title-logo">
        <h4 class="">Manager Page</h4>
    </div>
    <div class="d-flex align-items-center" style="margin-right:30px; ;">
        <a href="/" style="min-width:80px;" class="btn btn-light" data-toggle="tooltip" title="Go back" data-placement="left">Back <i class="fa-solid fa-share-from-square"></i></a>
    </div>
</div>

@code {

}
