@page "/aboutus"
<div class="container" style="min-height:50vw">
    <div class="row mt-5">
        <div class="col-12">
            <h3>Aboutus</h3>
            <p>
                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aliquam id dictum justo. Etiam fringilla, odio semper bibendum tincidunt, ipsum urna cursus orci, id sodales justo ipsum quis risus. Vestibulum libero sapien, gravida quis quam nec, pharetra pretium erat. Nullam id libero dui. Pellentesque nec metus non felis viverra rhoncus accumsan eu sapien. Mauris nec felis condimentum, elementum ex vel, vestibulum augue. Nam ullamcorper porttitor ante, ut facilisis justo ultricies sed. Donec tincidunt odio mi, quis ornare nunc porttitor eu. Proin mollis mi ac orci pellentesque, sed aliquam massa aliquet.

                Sed consequat ut lacus quis sollicitudin. Praesent vehicula nisl vitae euismod bibendum. Phasellus consectetur, nunc ut varius faucibus, ex felis vulputate felis, lacinia iaculis libero purus et lorem. Sed ac ligula gravida, molestie massa vitae, tristique libero. In sollicitudin non elit sit amet pellentesque. Morbi lacinia vehicula turpis, ut sagittis metus vestibulum eget. Ut gravida ipsum mi. Maecenas efficitur pharetra purus id mollis. Nullam a turpis scelerisque arcu malesuada pellentesque pulvinar a sapien. Nullam ullamcorper lorem et diam consectetur pulvinar. Duis congue rutrum nisi, nec ullamcorper quam finibus non.

                Maecenas sed lacus sed est molestie volutpat nec ac erat. Nulla rhoncus scelerisque quam id mollis. Duis mauris magna, venenatis nec eros sit amet, posuere accumsan libero. In dignissim dignissim fringilla. Morbi nibh felis, viverra ac blandit eget, scelerisque eget metus. Suspendisse dignissim nisi sed nisi pulvinar, non cursus ex accumsan. Cras mattis sapien id aliquet tincidunt. Donec blandit vulputate justo et blandit. Duis vehicula, ante id egestas volutpat, nunc dolor accumsan eros, vel pulvinar mi lectus ac nunc. Vestibulum vel dignissim turpis. Sed nec auctor diam. In hac habitasse platea dictumst. Morbi ut augue pharetra, mattis odio non, varius nulla. Fusce hendrerit magna non neque lacinia aliquet a non mi. Integer varius odio sit amet orci vestibulum, sed blandit turpis tincidunt. Sed id risus id dolor fringilla vehicula.
            </p>
        </div>
    </div>
</div>

@code {

}
