@page "/account"

<div class="container mb-5">
    <div class="row mt-5  justify-content-center">
        <div class="col-12 col-md-3">
        <h1 class="mb-4">User Profile : </h1>
      </div>
    </div>
    <div class="row justify-content-center">
        <div class="col-12 col-md-3">
            <img src="/images/blank-profile-picture.png" class="img-fluid border-1 border border-secondary p-2 rounded shadow" alt="blank-profile-picture.png" />
        </div>
        <div class="col-12 col-md-5 mt-5 mt-md-0" >
            <table class="user-info w-100">
                <tr>
                    <td>Name : </td>
                    <td>Marijan </td>
                </tr>
                <tr>
                    <td>Last Name : </td>
                    <td>Mustac</td>
                </tr>
                <tr>
                    <td>Email :</td>
                    <td>mustac.marijan@gmail.com</td>

                </tr>
                <tr>
                    <td>Phone :</td>
                    <td>+47 484 40 716 </td>
                </tr>
                <tr>
                    <td>Address :</td>
                    <td>Hjeramoen 46A, 2072 Dal </td>
                </tr>
            </table>

        </div>
            <div class="col-12 col-md-8 mt-4">
                <h1>About me : </h1>
            <p>
                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aliquam tincidunt ligula quis arcu gravida, sed interdum risus dapibus. Sed rhoncus metus non lectus consectetur commodo. Phasellus eu malesuada ex. Phasellus convallis dapibus volutpat. Maecenas pellentesque gravida nunc in ornare. Curabitur nec dictum massa. Vestibulum ac eros ipsum. Nullam quam ligula, laoreet eu ligula quis, ultricies consequat tortor. In nulla ipsum, pellentesque quis mi ut, iaculis porta augue. Suspendisse et justo non mi gravida mattis eu eget sapien. Vivamus sodales sollicitudin mi. Aenean sed orci ut tortor vestibulum pretium. Etiam purus nisl, condimentum id molestie non, lobortis a massa. Fusce in vehicula quam. Praesent non pulvinar mi, sed pellentesque urna.

                Aliquam ac justo ut nisl efficitur convallis. Quisque volutpat lobortis erat vel dictum. Maecenas suscipit nisl in suscipit pellentesque. Vivamus erat est, facilisis sed risus ullamcorper, finibus varius dolor. In tortor eros, interdum sit amet neque non, malesuada suscipit sapien. Proin tincidunt commodo rhoncus. Nulla facilisi.

                Mauris neque nibh, lobortis ac rhoncus vel, consectetur ut mauris. Quisque iaculis ex dui. Vivamus ut quam metus. In hac habitasse platea dictumst. Mauris non massa eu arcu auctor tincidunt vel vitae quam. In hac habitasse platea dictumst. Nullam tincidunt risus odio, vitae mollis eros tempor at.
            </p>
            </div>
        
    </div>
</div>

@code {

}
